{% extends "base.html" %}
{% block title %}Serviços{% endblock %}
 {% block content %} 

 
<div class="offset-1 col-10 list-div">
<h4>Vagas</h4>




    
     
   
    <div id="content">
        <div class="card" id="postagem">
            <h4>{{cadastrovagas.cargo}}</h4>
            <h5> {{cadastrovagas.empresa}}</h5>
            <hr>
           <p><i class="fa-solid fa-pen"></i> {{cadastrovagas.descricao}}</p>
           <p><i class="fa-solid fa-briefcase"> </i> {{cadastrovagas.vagas}}</i></p>
           <p><i class="fa-solid fa-graduation-cap"> </i> {{cadastrovagas.escolaridade}}</i></p>
            <p><i class="fa-solid fa-building"></i> {{cadastrovagas.modelo}}</i></p>
            <p><i class="fa-solid fa-business-time"> </i> {{cadastrovagas.horassemanais}}</i></p>
            <p><i class="fa-solid fa-brazilian-real-sign"> </i> {{cadastrovagas.salario}}</p>
            <p><i class="fa-solid fa-location-dot"></i> {{cadastrovagas.localizacao}}</p>
   </div></div>
<!-- <div class="pagination">
//     <span class="step-links">
//         {% if listademanda.has_previous %}
//         <a href="?page={{ listademanda.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
//         {% endif %}
//         <span class="current">
//             {{ listademanda.number }} de {{ listademanda.paginator.num_pages }}
//         </span>
//         {% if listademanda_next %}
//         <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
//         {% endif %}
//     </span>
// </div> --> 
{% endblock %}
