{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="offset-1 col-10 list-div">
    <h5>Editar serviço</h5>
    <form action="{% url 'editarservico' %}" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success" value="Salvar" onclick="msg()">
        <a href="{% url 'demandas' %}" class="btn btn-danger">Cancelar</a>
    </form>
    <script>
        function msg() {
            alert("Editado com sucesso");
        }
        </script>
</div>{% endblock %}