{% extends "base.html" %}
{% block title %}Fornecedores{% endblock %}
{% block content %}
<div class="offset-1 col-10 list-div">
<h1>Fornecedores</h1>
<a id="add-link" href="{% url 'fornecedorcad' %}">
<div class="col-2 add-div"><i class="fas fa-plus"></i>Adicionar fornecedor</i></div></a>
<div class="col-9 search-div">
    <form method="GET" id=search-form>
    <input class="form-control" type="text" id="search" name="search" placeholder="Busca">
    <i class="fas fa-search" id="search-btn"></i></form>
</div>
<ul class="task-list">
    {% for fornecedores in listafornecedores %}
       <li class="task-item">
    
        <span>{{fornecedores.forn}}</a></span>
      
    </li>
    
    {% endfor %}


</ul>
<div class="pagination">
    <span class="step-links">
        {% if listafornecedores.has_previous %}
        <a href="?page={{ listafornecedores.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        <span class="current">
            {{ listafornecedores.number }} de {{ listafornecedores.paginator.num_pages }}
        </span>
        {% if listafornecedoresas_next %}
        <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}