{% extends "base.html" %}
{% block title %}Serviços{% endblock %}
{% block content %}
<div class="offset-1 col-10 list-div">
<h4>Serviços</h4>
<a id="add-link" href="{% url 'nomeproduto' %}">
<div class="col-2 add-div"><i class="fas fa-plus"></i>Adicionar produto</i></div></a>
<div class="col-9 search-div">
    <form method="GET" id=search-form>
    <input class="form-control" type="text" id="search" name="search" placeholder="Busca">
    <i class="fas fa-search" id="search-btn"></i></form>
</div>
<div class="card">
    <div class="card-body">
    
       <h5>Produtos cadastrados</h5>
    <hr><table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Produto</th>
                
                
            </tr></thead>
            <tbody>
                {% for nomeproduto in produtos %}
                <tr>
                    <td>{{nomeproduto.id}}</td>
                    <td>{{nomeproduto.nameproduto}} 
                    </tr>
                        {% endfor %}
            </tbody>
        
       </div>
    </table>
    


</ul>
<!-- <div class="pagination">
    <span class="step-links">
        {% if listademanda.has_previous %}
        <a href="?page={{ listademanda.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        <span class="current">
            {{ listademanda.number }} de {{ listademanda.paginator.num_pages }}
        </span>
        {% if listademanda_next %}
        <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </span>
</div> -->
</div>
{% endblock %}