{% extends "base.html" %}
{% block title %}Serviços{% endblock %}
 {% block content %} 

 
<div class="offset-1 col-10 list-div">
<h4>Vagas disponíveis</h4>
<a id="add-link" href="{% url 'vagascad' %}">
<div class="col-2 add-div"><i class="fas fa-plus"></i>Cadastrar vaga</i></div></a>
<div class="col-9 search-div">
    

    
       <form action="{% url 'busca' %}" method="GET">
        <input type="text" name="q" placeholder="Busque vagas...">
        <button type="submit">Pesquisar</button>
    </form><br>
    <div id="content">
        <div class="card" id="postagem">
                {% for cadastrovagas in vagas %}
                <h4 class="titulopost">{{cadastrovagas.cargo}}</h4>
                <h5> {{cadastrovagas.empresa}}</h5>
                <hr>

                    <p><i class="fa-solid fa-building"></i> {{cadastrovagas.modelo}}</p>
                    <p><i class="fa-solid fa-location-dot"></i> {{cadastrovagas.localizacao}}</p>

                   
                      <p class="botao"><a href="{{cadastrovagas.id}}"><button class="btn btn-secondary">Visualizar vaga</button></a></span></p>
                      <hr class="rodapepost">
                     
                        {% endfor %}
          
        
       </div></div>


    </div>
  
<!-- import -->
<!-- <div class="pagination">
//     <span class="step-links">
//         {% if listademanda.has_previous %}
//         <a href="?page={{ listademanda.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
//         {% endif %}
//         <span class="current">
//             {{ listademanda.number }} de {{ listademanda.paginator.num_pages }}
//         </span>
//         {% if listademanda_next %}
//         <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
//         {% endif %}
//     </span>
// </div> --> 
{% endblock %}
